/* Thin, styled scrollbar */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #690810 !important;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Tailwind gray-700 */
  border-radius: 8px;
}
